{% extends "layout.html" %}
<!--variável contendo o id=page-home-->
{% set pageId = "page-home" %}

{% block styles %}
  <link rel="stylesheet" href="styles/home.css"/>
  <link rel="stylesheet" href="styles/modal.css"/>
{% endblock styles %}
<!--script modal-->
{% block scripts %}
  <script src="scripts/index.js"></script>
{% endblock scripts %}

{% block container %}
<div class="container">
  <header>
    <img src="assets/logo.svg" alt="logo ecoleta"/>
    <a href="/create-point">
      <span></span>
      Cadastre um ponto de coleta
    </a>
  </header>

  <main>
    <h1>Seu marketplace de coleta de resíduos</h1>
    <p>
      Ajudamos pessoas a encontrarem pontos de coleta de forma eficiente.
    </p>
    <a href="#" class="search">
      <span></span>
      <strong>Pesquisar pontos de coleta</strong>
    </a>
    <a href="/search-all">
    <span></span>
      <strong>Pontos já cadastrados</strong>
    </a>
  </main>
</div>
{% endblock container %}

{% block modal %}
{% include "partials/modal.html" %}
{% endblock modal %}