<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% block title %}
    <title>Ecoleta</title>
    {% endblock title %}
    
    <!--google fonts open-sans e montserrat-->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!--main css-->
    <link rel="stylesheet" href="styles/main.css" />
    {% block styles %}{% endblock styles %}
    <!--responsive css-->
    <link rel="stylesheet" href="styles/responsive.css" />
    {% block scripts %}{% endblock scripts %}
  </head>
  <body>

    <div id="{{ pageId }}">
    {% block container %}{% endblock container %}
    </div>

    {% block modal %}{% endblock modal %}

  </body>
</html>
