/*media querys*/
/*screens until 450px*/
@media (max-width: 450px) {
  #page-home {
    background-image: none;
  }
  #page-home .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    padding: 1rem;
  }
  #page-home .container header {
    flex-direction: column;
  }
  #page-home .container header a {
    position: unset;
    bottom: unset;
    left: unset;
    transform: unset;
    margin: 26px 0;
  }
  #page-home .container main {
    align-items: center;
  }
  #page-home .container main h1 {
    font-size: 2.7em;
  }
  #page-home main a.search strong {
    font-size: 12px;
  }
  #page-home main a {
    margin-bottom: 48px;
  }
  #page-search-results .cards {
    grid-template-columns: 1fr;
  }
}

/*screens starting 451px until 900px*/
@media (min-width: 451px) and (max-width: 900px) {
  #page-home header {
    flex-direction: column;
  }
  #page-home .container header a {
    margin: 26px 0;
  }
  #page-home .container main {
    align-items: center;
  }
  #page-create-point .field-group {
    flex-direction: column;
  }
  #page-create-point .field-group .field + .field {
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (min-width: 760px) {
  #page-home {
    background-position-y: 160px;
  }
}
