/*media querys*/
@media (max-width: 450px) {
  #page-home .container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 1rem;
  }
  #page-home .container header {
    flex-direction: column;
  }
  #page-home .container header a {
    position: unset;
    bottom: unset;
    left: unset;
    transform: unset;
    margin: 26px 0;
  }
  #page-search-results .cards {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 900px) {
  #page-home {
    background-position-x: 70vw;
  }
  #page-home .container {
    align-items: center;
    text-align: center;
  }
  #page-home .container header a {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }
  #page-home .container main {
    align-items: center;
  }

  #page-create-point .field-group {
    flex-direction: column;
  }
  #page-create-point .field-group .field + .field {
    margin-left: 0;
  }
}

@media (min-width: 1440px) {
  #page-home {
    background-position-x: 40vw;
  }
}

@media (min-width: 760px) {
  #page-home {
    background-position-y: 160px;
  }
}
